<%= render "searchbar" %>
<div class ="card-container">
  <% @poems.order('title ASC').each do |poem| %>
    <h2><%= link_to poem_path(poem) do %></h2>
      <div class="card-product">
        <% if poem.title.include?('fourmi') %>
          <%= image_tag 'ant.svg' %>
        <% elsif poem.title.include?('renard') %>
          <%= image_tag 'rena.svg' %>
        <% else %>
          <%= image_tag(@index_image.sample) %>
        <% end %>
        <div class="card-product-infos">
        <h2><%= poem.title %></h2>
          <p><%= poem.author_name %>
          <p class="float-center"></p>
          </p>
          <p class="float-left">
          <i class="fas fa-user-graduate on"></i>
          <% if poem.difficulty.to_i <= 1 %>
            <span class="easy-difficulty">facile</span>
          <% elsif poem.difficulty.to_i <= 3 %>
            <span class="medium-difficulty">moyen</span>
          <% else %>
            <span class="hard-difficulty">difficile</span>
          <% end %>
          </p>
          <% if current_user.completed?(poem) %>
              <p class="float-right card-index__complete"><strong>Par coeur !</strong><i class="fas fa-award"></i></p>
          <% elsif current_user.started?(poem) %>
              <p class="float-right card-index__in-progress"><strong>En cours...</strong><i class="fas fa-book-reader"></i></p>
          <% else %>
            <p class="float-right"></p>
          <% end %>
          <p class="float-right badge-completion">
        </div>
      </div>
    <% end %>
  <% end %>
</div>
