<div class="poem-background">
  <div class="poem-container">
    <div class="poem-image">
      <%= image_tag "bookshelf.svg", alt: "alttext", width: '100%' %>
    </div>
    <div class="poem-show-cards animated slideInUp fast">
      <div class="poem-description">
        <h1 class="border-bottom pb-1"><%= @poem.title %></h1>
        <div class="poem-infos d-flex justify-content-between">
          <div class="poem-infos__icons">
            <p><i class="fas fa-feather-alt"></i><%= @poem.author_name %></p>
            <p><i class="fas fa-align-justify"></i><%= pluralize @poem.content.split(/\n/).count, 'lignes' %></p>
            <p class="poem-difficulty-list"><%# (@poem.difficulty.to_i).times do %>
              <i class="fas fa-user-graduate on"></i>
              <% if @poem.difficulty.to_i <= 1 %>
                <span class="easy-difficulty">facile</span>
              <% elsif @poem.difficulty.to_i <= 3 %>
                <span class="medium-difficulty">moyen</span>
              <% else %>
                <span class="hard-difficulty">difficile</span>
              <% end %>
            </p>
          </div>
          <% lesson = @poem.lessons.find{ |lesson| lesson.user == current_user } %>
          <div class="poem-infos__start-lesson">
            <% if lesson %>
              <%= link_to lesson_path(lesson), class: "start-button-bg green" do %>
                <i class="fas fa-play"></i>
              <% end %>
              <p class="text-center">Reprendre la leçon</p>
            <% else %>
              <div class="text-center">
                <%= simple_form_for [@poem, @lesson] do |f| %>
                  <%= f.button :button, class: 'start-button-bg green' do %>
                    <i class="fas fa-play"></i>
                  <% end %>
                <% end %>
                <p>Commencer une leçon</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="shelf" style='background-image: url(<%= image_path "bookshelf.svg" %>)'>
      </div>
      <div class="poem-author-list">
        <% author_poems = Poem.where(author_name: @poem.author_name) %>
        <% if author_poems.count > 0 %>
          <div class="author-poems-list">
            <h3 class="p-3 border-bottom">Autres poêmes de <%= @poem.author_name %></h3>
            <ul>
              <% author_poems.each do |poem| %>
                <% if poem != @poem %>
                  <p class="author-poem-title d-flex justify-content-between align-items-center p-3"><%= link_to poem.title, poem_path(poem) %><i class="fas fa-chevron-right"></i></p>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
