<div class="container pt-2">
  <div class="dashboard-container"></div>
  <div class="dashboard-image">
    <%= image_tag "shakespeare.svg", alt: "alttext", width: "200px" %>
  </div>
  <div class="dashboard-content px-3 pt-2 bg-white">
    <div class="header-introduction-dashboard d-flex">
      <div class="title-intro">
        <h1> <span class="highlight"> Salut, <%= current_user.first_name %> </span> </h1>
      </div>
      <div class="profile-avatar pt-3 pb-3">
        <%= image_tag "no-profile-pic.png", alt: "alttext", width: '45px' %>
      </div>
    </div>
    <div class="lessons-list">
      <div class="title-category">
        <h6> Mes poèmes :</h6>
      </div>
      <% my_lessons = @lessons.select { |lesson| lesson.user == current_user } %>
        <% if my_lessons.empty? %>
          <div class="if-lesson-empty">
            <br>
            <p> You have not started yet. Come and join us ! </p>
            <button type="button" class="btn btn-primary btn-lg center btn-start-lesson">
            <%= link_to "+ Start a lesson", poems_path %> </button>
          </div>
        <% else %>
        <div class="app">
          <div id="lessons-card" class="hs">
            <% @lessons.each do |lesson| %>
              <%= link_to lesson_path(lesson) do %>
                <div class="card-poems bg-white">
                  <div class="card-image">
                    <img src="http://aroillustration.com/wp-content/uploads/2016/05/CorbeauetRenard-953x1024.jpg" />
                  </div>
                  <div class="card-description d-flex">
                    <div class="name-author">
                      <div class="author-poem">
                        <%= lesson.poem.author_name %> <br>
                      </div>
                      <div class="title-poem">
                        <%= lesson.poem.title %> <br>
                      </div>
                    </div>
                    <div class="progressions">
                      <% recite_progression = lesson.recites.last.nil? ? 0 : lesson.recites.last.progression %>
                      <div class="reading-progression" data-reading-progress=" <%= (lesson.reading_progression + lesson.listening_progression + recite_progression)/3%>"></div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
