
<div class="dashboard-image">
  <%= image_tag "shakespeare.svg", alt: "alttext", class: 'cyrano'%>
  <h1 class="greeting">
    <p class="">Salut,</p>
    <p class="highlight bold"><%= current_user.first_name %> </p>
  </h1>
</div>
<% my_lessons = @lessons.select { |lesson| lesson.user == current_user } %>
<% if my_lessons.empty? %>
  <div class="if-lesson-empty">
    <br>
    <p> Tu n'as pas pas de leçon en cours. </p>
    <%= link_to poems_path do %>
      <button type="button" class="btn btn-primary btn-lg center btn-start-lesson">+ Commencer une leçon</button>
    <% end %>
  </div>
<% else %>
  <div id="lessons-card" class="hs animated slideInRight">
    <% @lessons.order('created_at DESC').each do |lesson| %>
      <div class="card-poems">
        <% if lesson.poem.title.include?('fourmi') %>
          <div class="card-image" style="background-image :url(<%= image_path 'ant.svg' %>)"></div>
        <% elsif lesson.poem.title.include?('renard') %>
          <div class="card-image" style="background-image :url(<%= image_path 'rena.svg' %>)"></div>
        <% else %>
          <div class="card-image" style="background-image :url(<%= image_path(@index_image.sample) %>)"></div>
        <% end %>
        <div class="card-description">

          <div class="author-poem">
            <p><%= lesson.poem.author_name %></p>
          </div>

          <div class="body-poem">
            <div class="title-poem">
              <p><%= lesson.poem.title.truncate 45 %></p>
            </div>
            <div class="info-poem">
              <p>
                <i class="fas fa-clock"></i><span>Il y a <%= time_ago_in_words(lesson.created_at)%></span>
              </p>
              <p><i class="fas fa-align-justify"></i><%= pluralize lesson.poem.content.split(/\n/).count, 'ligne' %></p>
              <p class="poem-difficulty-list"><%# (poem.difficulty.to_i).times do %>
                <i class="fas fa-user-graduate on"></i>
                <% if lesson.poem.difficulty.to_i <= 1 %>
                  <span class="easy-difficulty">facile</span>
                <% elsif lesson.poem.difficulty.to_i <= 3 %>
                  <span class="medium-difficulty">moyen</span>
                <% else %>
                  <span class="hard-difficulty">difficile</span>
                <% end %>
              </p>
            </div>

          </div>
          <div class="progression-status">
            <div class="progressions">
              <% recite_progression = lesson.recites.last.nil? ? 0 : lesson.recites.last.progression %>
              <div class="reading-progression" data-reading-progress="<%= (lesson.reading_progression + lesson.listening_progression + recite_progression)/3%>">
              </div>
            </div>
          </div>
        </div>
        <%= link_to "", lesson_path(lesson) %>
      </div>
    <% end %>
  </div>
<% end %>


