<div class="container">
  <div class="profile-avatar d-flex flex-column justify-content-center align-items-center pt-3 pb-3">
    <%= image_tag "no-profile-pic.png", alt: "alttext", width: '75px' %>
  </div>

  <div class="header-introduction-dashboard d-flex flex-column justify-content-center align-items-center">
    <h1> Salut, <%= current_user.first_name %> </h1>
    <h4> De retour pour apprendre ?</h4>
</div>
<br>
<h6> Mes poèmes :</h6>
<div class="app">
  <div id="lessons-card" class="hs">
    <% @lessons.each do |lesson| %>
    <%= link_to lesson_path(lesson) do %>
      <div class="card-poems bg-white mt-3">
        <div class="card-image">
          <img src="http://aroillustration.com/wp-content/uploads/2016/05/CorbeauetRenard-953x1024.jpg" />
        </div>
        <div class="card-description d-flex">
          <div class="name-author">
            <div class="title-poem">
              <%= lesson.poem.title %> <br>
            </div>
            <div class="author-poem">
              <%= lesson.poem.author_name %> <br>
            </div>
          </div>
          <div class="progressions">
            <% recite_progression = lesson.recites.last.nil? ? 0 : lesson.recites.last.progression %>
            <div class="reading-progression" data-reading-progress=" <%= (lesson.reading_progression + lesson.listening_progression + recite_progression)/3%>"></div>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
<%= link_to "Go back to home", root_path %>
<%= link_to "Go to all poems", poems_path %>
  </div>
</div>
