<div class="bottom-navbar">
  <div class="container">
    <div class="footer-icons">

      <% if user_signed_in? %>
        <div class="home-icon text-center">
          <%= link_to dashboard_path do %>
            <% if  request.path == "/dashboard" || request.path =~ /lessons/%>

              <%= image_tag 'cyrano-nav-color-lesson.svg', class: 'nav-icon' %>
            <% else %>
              <%= image_tag 'cyrano-nav-grey-lesson.svg', class: 'nav-icon' %>
            <% end %>
          <% end %>
        </div>

        <div class="search-icon text-center">
          <%= link_to poems_path do %>
            <% if  request.path == "/poems" %>
              <%= image_tag 'cyrano-nav-color-poems.svg', class: 'nav-icon' %>
            <% else %>
              <%= image_tag 'cyrano-nav-grey-poems.svg', class: 'nav-icon' %>
            <% end %>
          <% end %>
        </div>
        <div class="list-icon text-center">
          <%= link_to current_user.lessons.empty? ? poems_path : lesson_path(current_user.lessons.order('updated_at desc').first) do %>
            <% if  request.path == "/root" || request.path =~ /recites/%>
              <%= image_tag 'cyrano-nav-color-speaker.svg', class: 'nav-icon' %>
            <% else %>
              <%= image_tag 'cyrano-nav-grey-speaker.svg', class: 'nav-icon' %>
            <% end %>
          <% end %>
        </div>
        <div class="list-icon text-center">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= image_tag 'cyrano-nav-grey-logout.svg', class: 'nav-icon' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

