<div class="container">
  <div class="sticky-record-btn">
    <h1><%= @poem.title %></h1>
    <div id="poem-content">
      <p class='hidden-poem hidden'><%= @poem.content %></p>
      <% @poem.content.split(/\./).each_with_index do |line, i| %>
      <div class="line">
        <p class="hidden">#<%= i+1 %>.<span class="content-line content-line-<%= i + 1 %>"><%= line %>.</span></p>
        <p class="recite-line recite-line-<%= i + 1 %>"></p>
      </div>
      <% end %>
    </div>
    <div class="input-single">
      <p id="note-textarea" class="bg-red"></p>
    </div>
  </div>

  <!--   <button id="stop-record-btn" class= "btn btn-warning" title="Stop Recording">Stop Recognition</button> -->

  <div class="record-btn-container">
    <button class= "record-btn">
      <i class="record-btn-logo fas fa-microphone-alt"></i>
    </button>
  </div>
</div>
<!-- <p id="recording-instructions">Press the <strong>Start Recognition</strong> button and allow access.</p> -->



