<div class=button-back-lesson>
  <%= link_to'<i class="fas fa-angle-left"></i>'.html_safe, lesson_path(@recite.lesson) %>
</div>

<div class="recite-image text-center">
  <%= image_tag "ballad.svg", alt: "alttext", width: "250px", class: 'recite-image' %>
</div>
<div class="recites-container bg-white">
  <div class="recite-title">
    <h1> <span class="highlight red">Réciter</span> : </h1>
  </div>
  <div class="sticky-record-btn">
    <p><%= @poem.title %></p>
    <div id="recite-progress-bar"></div>
    <div id="poem-content">
      <p class='hidden-poem hidden'><%= @poem.content %></p>
      <% @poem.content.split(/\./).each_with_index do |line, i| %>
      <div class="line">
        <p class="hidden">#<%= i+1 %>.<span class="content-line content-line-<%= i + 1 %>"><%= line %>.</span></p>
        <p class="recite-line recite-line-<%= i + 1 %>"></p>
      </div>
      <% end %>
    </div>
    <div class="input-single">
      <p id="note-textarea" class="bg-red"></p>
    </div>
  </div>
  <div class="record-btn-container">
    <%= link_to do %>
      <button class= "recite-btn replay-btn">
        <i class="fas fa-redo-alt"></i>
      </button>
    <% end %>
    <button class= "recite-btn record-btn">
      <i class="record-btn-logo fas fa-microphone-alt"></i>
    </button>
    <%= form_for @recite, url: recite_path(@recite), method: :patch do |f| %>
      <%= f.text_field :progression, class: "hidden" %>
      <%= f.button class: "recite-btn lesson-over-btn" do %>
        <i class="fas fa-check"></i>
      <% end %>
    <% end %>
  </div>
</div>

