<div class="container">

  <div class="recite-image text-center">
    <%= image_tag "medal.svg", alt: "alttext", width: "150px" %>
  </div>

  <div class="recites-container bg-white">
    <div class="recite-title">
      <h1> <span class="highlight">Recite</span> : </h1>
    </div>

    <div class="sticky-record-btn">
      <p><%= @poem.title %></p>
      <div id="poem-content">
        <p class='hidden-poem hidden'><%= @poem.content %></p>
        <% @poem.content.split(/\./).each_with_index do |line, i| %>
        <div class="line">
          <p class="hidden">#<%= i+1 %>.<span class="content-line content-line-<%= i + 1 %>"><%= line %>.</span></p>
          <p class="recite-line recite-line-<%= i + 1 %>"></p>
        </div>
        <% end %>
      </div>
      <div class="input-single">
        <p id="note-textarea" class="bg-red"></p>
      </div>
    </div>
  <!--   <button id="stop-record-btn" class= "btn btn-warning" title="Stop Recording">Stop Recognition</button> -->

  <div class="record-btn-container">
    <%= link_to do %>
      <button class= "replay-btn">
        <i class="fas fa-redo-alt"></i>
      </button>
    <% end %>
      <button class= "record-btn">
        <i class="record-btn-logo fas fa-microphone-alt"></i>
      </button>
    <%= link_to lesson_path(@recite.lesson) do %>
      <button class= "lesson-over-btn">
        <i class="fas fa-check"></i>
      </button>
    <% end %>
  </div>
  </div>
</div>
<!-- <p id="recording-instructions">Press the <strong>Start Recognition</strong> button and allow access.</p> -->



