  <div class="row">
    <div class="listening-image">
      <%= image_tag "headphones.svg", alt: "alttext", width: "300px" %>
    </div>
    <div class="speech-bubble">
      <div class="col-sm-12">
        <div class="listening-title">
          <h1> <span class="highlight">Listening</span> : </h1>
        </div>
          <div class="poem-title">
            <p> <%= @lesson.poem.title %> </p>
          </div>
          <p><i class="fas fa-feather-alt"></i><%= @lesson.poem.author_name %></p>
          <p class="poem-difficulty-list"><% (@lesson.poem.difficulty.to_i).times do %>
            <i class="fas fa-user-graduate on"></i>
          <% end %>
          <% (5 - @lesson.poem.difficulty.to_i).times do %>
            <i class="fas fa-user-graduate off"></i>
           <% end %>
          </p>
          <br>
        <audio id="listening-audio" controls src="<%= @lesson.poem.audio_url %>">
          Your browser does not support the audio element.
        </audio>

        <!-- <div class="progress">
          <div class="bg-warning progress-bar progress-bar-striped progress-bar-animated" role="progressbar" ></div>
        </div> -->
        <br><br>
        <div id="audio-progress-bar"></div>


        <br><br>
      <div class="button-choice">
        <button type="button" class="btn btn-primary button-back">
          <%= link_to 'Back (Reading)', reading_lesson_path(@lesson) %>
        </button>
        <%= form_for @lesson, url: listening_lesson_path(@lesson),method: :patch do |f| %>
        <%= f.text_field :listening_progression , value:  @lesson.listening_progression , class: "hidden"%>
        <%= f.submit 'Next (Recite)' , class: "btn btn-primary button-next"%>
        <% end %>
    </div>

      </div>
    </div>
  </div>
