<h1>LISTENING : <%= @lesson.poem.title %></h1>
<h3>poem audio</h3>
<p><%= @lesson.poem.audio_url %></p>
<audio id="listening-audio" controls src="<%= @lesson.poem.audio_url %>">
  Your browser does not support the audio element.
</audio>
<%= simple_form_for @lesson, url: listening_lesson_path(@lesson),method: :patch do |f| %>
<%= f.input :listening_progression , input_html: {value:  '53'} %>
<%= f.submit 'Next (listening)'%>
<% end %>

<ul>
  <li><%= link_to 'Back (Reading)', reading_lesson_path(@lesson) %></li><li><%= link_to 'Next (Recite)', listening_lesson_path(@lesson) %></li>
  <li><%= link_to 'Accueil', poems_path %></li>
</ul>


