<div class="poem-img" style="background: url(https://images.unsplash.com/photo-1513545581681-9217042d29b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
</div>
<div class="container">
  <div class="lesson-show">
    <div class="lesson-back">
      <%= link_to '#' do %>
      <i class="fas fa-chevron-left"></i>
      <% end %>
    </div>
    <div class="lesson-author">
      <%= @lesson.poem.author_name %>
    </div>
    <div class="lesson-body">
      <p class="lesson-level"><span>Difficulty</span> : <% (@lesson.poem.difficulty.to_i).times do %>
       <i class="fas fa-user-graduate on"></i>
       <% end %>
       <% (5 - @lesson.poem.difficulty.to_i).times do %>
       <i class="fas fa-user-graduate off"></i>
       <% end %>
      </p>
      <h1><%= @lesson.poem.title %></h1>

      <div class="d-flex justify-content-between lesson-progressions">
        <div class="lesson-progression text-center">
          <div id="reading-progression" class="lesson-show-progression mb-3" data-progression="<%= @lesson.reading_progression %>">
          </div>
          <p>Reading</p>
        </div>
        <div class="lesson-progression text-center">
          <div id="listening-progression" class="lesson-show-progression mb-3" data-progression="<%= @lesson.listening_progression %>">
          </div>
          <p>Listening</p>
        </div>
        <div class="lesson-progression text-center">
          <div id="listening-progression" class="lesson-show-progression mb-3" data-progression="<%= @lesson.recites.last ?  @lesson.recites.last.progression : "0"  %>">
          </div>
          <p>Speaking</p>
        </div>
      </div>
      <div class="lesson-steps d-flex justify-content-around">
        <%= link_to reading_lesson_path(@lesson) , class: "lesson-step" do%>
        <i class="fab fa-readme"></i>
        <% end %>
        <%= link_to listening_lesson_path(@lesson) , class: "lesson-step" do %>
        <i class="fas fa-headphones-alt"></i>
        <% end %>
        <%= simple_form_for [@lesson, @recite] do |f| %>
        <%= button_tag type: 'submit', class: "lesson-step" do %>
        <i class="fas fa-microphone-alt"></i>
        <% end %>
        <% end %>
        <div class="lesson-overall-progress">
          <div class="lesson-overall-progress-bar"></div>
        </div>
      </div>


    </div>
  </div>
</div>
